@use "../abstract";
.header {
    background-color: abstract.$header--background;
    height: 1180px;
    &__title {
        position: relative;
        width: 100%;
        margin-top: 112px;

        & > .start {
            position: absolute;
            right: 520px;
            top: -15px;
        }

        & > .ellips {
            position: absolute;
            left: -20px;
            top: 0;
        }
        & > .title {
            font-family: Inter, sans-serif;
            color: #22201F;
            font-size: 13em;
            font-weight: 700;
        }
        & > .circle {
            position: absolute;
            display: inline-block;
            right: 89px;
            top: 21px;
            width: 351px;
            height: 99px;
            border-radius: 49.5px;
            border: 2px solid abstract.$color-3;   
        }

        &--desc {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 46px;

            & > .desc {
                width: 601px;
                font-size: 2em;
                font-weight: 400;
                line-height: 34px;
            }

            & > .btn {
                text-align: center;
                padding: 18px 40px;
                border-radius: 30px;
                border: 1px solid abstract.$Gray;

                & > .header__btn--contact {
                    position: relative;
                    font-size: 2em;
                    font-weight: 500;
                    color: abstract.$text-color;
                    margin-left: -10px;

                    & > .arrow__contact {
                        position: absolute;
                        top: 0px;
                        width: 24px;
                        height: 24px;
                       
                    }
                }
            }
        }
    }
    &__image {
        display: flex;
        margin-top: 90px;

        &--1, &--2 {
            width: 228px;
            height: 250px;
        }
        &--2 {
            margin-left: 30px;
        }

        &--3 {
            margin-left: 114px;
        }
    }
}