@use "../abstract";
// @use "../components";
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list {
            position: relative;
            margin-left: 17px;
            margin-right: 17px;
        };
        // &__list:hover &__board {
            
        // }
        &__list:last-child::after{
            content: "";

        };
        &--link {
            color: abstract.$text-color;
            font-family: Inter;
            font-size: 2em;
            font-weight: 400;
        };
    };
    &__btn--contact {
        padding: 13px 31px 14px 31px;
        background-color: abstract.$main-btn-color;
        color: #ffffff;
        border-radius: 29px;
        font-size: 2em;
        font-weight: 500;
    };
    &__board {
        display: none;
        position: absolute;
        width: 280px;
        height: 360px;
        border-radius: 10px;
        background: abstract.$gray-white;
        bottom: -370px;
        left: 100px;
        z-index: 1;
        &--child {
            margin: 30px 195px 30px 30px;

            & > li {
                display: flex;
                justify-content: space-between;
                width: 220px;
                height: 34px;
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                margin: 4px 0;
                & > .board--child--link {
                    color: abstract.$text-color
                }
            }
        }
    };
    &__header__list:hover &__header > &__board {
        display: block
        
    }
    // &__board--child {
        
    //     & > li {
    //         padding: 0 195px 0 30px;
    //     }
    //     &  .board--child--link {
    //         font-family: Inter;
    //         font-size: 20px;
    //         font-weight: 400;
    //         color: abstract.$text-color;
    //     }
    // };
};